# --- | SSS | ---

[sssd]
config_file_version = 2
domains = authentication
services = nss, pam, sudo

# --- | NSS | ---

[nss]
shell_fallback = /bin/sh
fallback_homedir = /home/ldap/%u
filter_users = _apt,avahi,backup,bin,_chrony,daemon,games,irc,list,lp,mail,man,messagebus,news,nobody,openldap,polkitd,postfix,proxy,root,sshd,sssd,sync,sys,systemd-network,systemd-timesync,tcpdump,usbmux,uucp,www-data

# --- | PAM | ---

[pam]
offline_credentials_expiration = 60

# --- | SUDO | ---

[sudo]

# --- | Domains | ---

[domain/authentication]
# --- providers
access_provider   = ldap
auth_provider     = ldap
autofs_provider   = ldap
chpass_provider   = ldap
id_provider       = ldap
resolver_provider = ldap
sudo_provider     = ldap

# --- server
ldap_uri = {{ 'ldaps' if ldap_tls else 'ldap' }}://{{ ldap_fqdn }}:{{ ldap_port }}
ldap_network_timeout = 60
ldap_schema = rfc2307

{% if ldap_tls %}
# --- tls
ldap_id_use_start_tls = false
ldap_tls_reqcert = demand
ldap_tls_cacert = /etc/sssd/ldap.crt

{% endif %}
# --- connection
ldap_default_bind_dn = cn={{ ldap_proxy_user }},ou=system,{{ ldap_dn }}
ldap_default_authtok = SSSD_OBFUSCATED_PASSWORD
ldap_default_authtok_type = obfuscated_password

# --- search
ldap_search_base = {{ ldap_dn }}
ldap_search_timeout = 30

# --- search (users)
ldap_user_search_base = ou=users,{{ ldap_dn }}
ldap_access_order = filter
ldap_access_filter = (objectClass=posixAccount)

# --- search (groups)
ldap_group_search_base = ou=groups,{{ ldap_dn }}

# --- search (sudo)
ldap_sudo_search_base = ou=sudoers,{{ ldap_dn }}

# --- cache
cache_credentials = true
ldap_purge_cache_timeout = 300

# --- actions
#ldap_pwd_policy = shadow
#ldap_pwmodify_mode = exop