# --- | Server | ---

serverDisplayName: {{ ldap_fqdn | split('.') | first | title }}
ServerURL: ldapi:///
useTLS: no

# --- | Localization | ---

timeZone: Europe/Madrid
defaultLanguage: en_US.utf8

# --- | Login | ---

# --- administrator
accessLevel: 100
Passwd: lam

# --- login
loginMethod: list
Admins: cn={{ ldap_admin_user }},{{ ldap_dn }}

# --- | Search | ---

loginSearchSuffix: {{ ldap_dn }}
tools: treeViewSuffix: {{ ldap_dn }}
searchLimit: 0
pagedResults: false
hideDnPart:

# --- | Objects | ---

activeTypes: user,group

# --- users
types: suffix_user: ou=users,{{ ldap_dn }}
types: attr_user: #uid;#givenName;#sn;#uidNumber;#gidNumber
types: modules_user: inetOrgPerson,posixAccount,shadowAccount
types: customLabel_user:
types: filter_user:
types: hidden_user:
modules: posixAccount_pwdHash: SSHA

# --- groups
types: suffix_group: ou=groups,{{ ldap_dn }}
types: attr_group: #cn;#gidNumber;#memberUID;#description
types: modules_group: posixGroup
types: customLabel_group:
types: filter_group:
types: hidden_group:
modules: posixGroup_pwdHash: SSHA

# --- | IDs | ---

# --- users
modules: posixAccount_user_minUID: {{ ldap_minid }}
modules: posixAccount_user_maxUID: {{ ldap_maxid }}
modules: posixAccount_user_uidGeneratorUsers: range

# --- groups
modules: posixGroup_group_minGID: {{ ldap_minid }}
modules: posixGroup_group_maxGID: {{ ldap_maxid }}
modules: posixAccount_group_gidGeneratorUsers: range

# --- hosts
modules: posixAccount_host_minMachine: {{ ldap_maxid + 1 }}
modules: posixAccount_host_maxMachine: {{ ldap_maxid * 2 }}
modules: posixAccount_host_uidGeneratorUsers: range

# --- | Tools | ---

# --- enabled
tools: tool_hide_ImportExport: false
tools: tool_hide_toolSchemaBrowser: false
tools: tool_hide_toolServerInformation: false
tools: tool_hide_TreeViewTool: false

# --- disabled
tools: tool_hide_toolFileUpload: true
tools: tool_hide_toolMultiEdit: true
tools: tool_hide_toolOUEditor: true
tools: tool_hide_toolPDFEditor: true
tools: tool_hide_toolProfileEditor: true
tools: tool_hide_toolTests: true
tools: tool_hide_toolWebauthn: true

# --- | Misc | ---
followReferrals: false
referentialIntegrityOverlay: false
hidePasswordPromptForExpiredPasswords: false

# --- basic auth
httpAuthentication: false

# --- password policy
pwdPolicyMinLength:
pwdPolicyMinLowercase:
pwdPolicyMinUppercase:
pwdPolicyMinNumeric:
pwdPolicyMinSymbolic:

# --- password reset
pwdResetAllowSpecificPassword: true
pwdResetAllowScreenPassword: true
pwdResetForcePasswordChange: true
pwdResetDefaultPasswordOutput: 2

# --- script
scriptPath:
scriptServer:
scriptRights: 750
scriptUserName:
scriptSSHKey:
scriptSSHKeyPassword:

# --- jobs
jobsBindPassword:
jobsBindUser:
jobsDatabase: SQLite
jobsDBHost:
jobsDBPort:
jobsDBUser:
jobsDBPassword:
jobsDBName:
jobToken: VdXBI7sA1hLZNiKMPVPA

# mail
lamProMailFrom: noreply@{{ (ldap_fqdn | split('.'))[1:] | join('.') }}
lamProMailReplyTo:
lamProMailSubject: Your password was reset
lamProMailIsHTML: false
lamProMailAllowAlternateAddress: true
lamProMailText: Dear @@sn@@,+::++::+your password was reset to: @@newPassword@@+::++::++::+Best regards+::+

# --- 2fa
twoFactorAuthentication: none
twoFactorAuthenticationURL: https://localhost
twoFactorAuthenticationClientId:
twoFactorAuthenticationSecretKey:
twoFactorAuthenticationDomain:
twoFactorAuthenticationInsecure:
twoFactorAuthenticationLabel:
twoFactorAuthenticationOptional:
twoFactorAuthenticationCaption:
twoFactorAuthenticationAttribute: uid
twoFactorAllowToRememberDevice: false
twoFactorRememberDeviceDuration: 28800
twoFactorRememberDevicePassword: dqnCz3Np3s7iOlYfcx-bsFQ4vfak-l