# --- | Server | ---
serverDisplayName: {{ ldap_fqdn | split('.') | first | title }}
ServerURL: ldapi:///
useTLS: no

# --- | Localization | ---
timeZone: Europe/Madrid
defaultLanguage: en_US.utf8
tools: treeViewSuffix: {{ ldap_dn }}

# --- | Login | ---
loginMethod: list

# --- List
Admins: cn={{ ldap_admin_user }},{{ ldap_dn }}

# --- Search
loginSearchFilter: uid=%USER%
loginSearchDN: ou=users,{{ ldap_dn }}
loginSearchPassword:

# --- Admin
Passwd: {{ ldap_admin_pass }}

# --- | Search | ---
loginSearchSuffix: {{ ldap_dn }}
hideDnPart:
pagedResults: true
searchLimit: 10

# --- | Objects | ---
activeTypes: user,group

types: customLabel_user: Users
types: suffix_user: ou=users,{{ ldap_dn }}
types: modules_user: inetOrgPerson,posixAccount,shadowAccount
types: attr_user: #uid;#gecos;#mail;#homeDirectory;#loginShell;#uidNumber;#gidNumber
modules: posixAccount_pwdHash: SSHA
types: filter_user:
types: hidden_user:

types: customLabel_group: Groups
types: suffix_group: ou=groups,{{ ldap_dn }}
types: modules_group: posixGroup
types: attr_group: #cn;#gidNumber;#description;#memberUID
modules: posixGroup_pwdHash: SSHA
types: filter_group:
types: hidden_group:

# --- | IDs | ---
modules: posixAccount_user_minUID: {{ ldap_minid }}
modules: posixAccount_user_maxUID: {{ ldap_maxid }}
modules: posixAccount_user_uidGeneratorUsers: range

modules: posixAccount_host_minMachine: {{ ldap_maxid + 1 }}
modules: posixAccount_host_maxMachine: {{ ldap_maxid * 2 }}
modules: posixAccount_host_uidGeneratorUsers: range

modules: posixGroup_group_minGID: {{ ldap_minid }}
modules: posixGroup_group_maxGID: {{ ldap_maxid }}
modules: posixAccount_group_gidGeneratorUsers: range

# --- | Tools | ---
# (enabled)
tools: tool_hide_ImportExport: false
tools: tool_hide_toolSchemaBrowser: false
tools: tool_hide_toolServerInformation: false
tools: tool_hide_TreeViewTool: false
# (disabled)
tools: tool_hide_toolFileUpload: true
tools: tool_hide_toolMultiEdit: true
tools: tool_hide_toolOUEditor: true
tools: tool_hide_toolPDFEditor: true
tools: tool_hide_toolProfileEditor: true
tools: tool_hide_toolTests: true
tools: tool_hide_toolWebauthn: true

# --- | Misc | ---
# --- Other
accessLevel: 100
followReferrals: false
referentialIntegrityOverlay: false
hidePasswordPromptForExpiredPasswords: true
# --- Scripts
scriptPath:
scriptServer:
scriptRights: 750
scriptUserName:
scriptSSHKey:
scriptSSHKeyPassword:
# --- Basic Auth
httpAuthentication: false
# --- Mail
lamProMailFrom: noreply@{{ (ldap_fqdn | split('.'))[1:] | join('.') }}
lamProMailReplyTo:
lamProMailSubject: Your {{ (ldap_fqdn | split('.'))[1:] | join('.') }} password was reset
lamProMailIsHTML: false
lamProMailAllowAlternateAddress: true
lamProMailText: Dear @@sn@@,+::++::+your password was reset to: @@newPassword@@+::++::++::+Best regards,+::++::+{{ (ldap_fqdn | split('.'))[1:] | join('.') }} admin+::+
# --- Password Policy
pwdPolicyMinLength: 8
pwdPolicyMinLowercase:
pwdPolicyMinUppercase:
pwdPolicyMinNumeric:
pwdPolicyMinSymbolic:
# --- Password Reset
pwdResetAllowSpecificPassword: true
pwdResetAllowScreenPassword: true
pwdResetForcePasswordChange: true
pwdResetDefaultPasswordOutput: 2
# --- 2FA
twoFactorAuthentication: none
twoFactorAuthenticationURL: https://localhost
twoFactorAuthenticationClientId:
twoFactorAuthenticationSecretKey:
twoFactorAuthenticationDomain:
twoFactorAuthenticationInsecure:
twoFactorAuthenticationLabel:
twoFactorAuthenticationOptional:
twoFactorAuthenticationCaption:
twoFactorAuthenticationAttribute: uid
twoFactorAllowToRememberDevice: false
twoFactorRememberDeviceDuration: 28800
twoFactorRememberDevicePassword: dqnCz3Np3s7iOlYfcx-bsFQ4vfak-l
# --- Jobs
jobsBindPassword:
jobsBindUser:
jobsDatabase: SQLite
jobsDBHost:
jobsDBPort:
jobsDBUser:
jobsDBPassword:
jobsDBName:
jobToken: VdXBI7sA1hLZNiKMPVPA