# --- | Connection | ---
BASE    {{ ldap_dn }}
URI     ldapi:///

# --- | User | ---
BINDDN  cn={{ ldap_proxy_user }},ou=system,{{ ldap_dn }}
BINDPW  {{ ldap_proxy_pass_hash.stdout | default(ldap_proxy_pass) }}

# --- | OUs | ---
USER_BASE       ou=users,{{ ldap_dn }}
GROUP_BASE      ou=groups,{{ ldap_dn }}
SUDOERS_BASE    ou=sudo,{{ ldap_dn }}

# --- | TLS | ---
TLS_CACERT  /etc/ldap/sasl2/ldap.crt
TLS_REQCERT demand

# --- | Misc | ---
SASL_MECH   EXTERNAL
SASL_REALM  {{ ldap_dn }}